<div class="container top">

	<% if flash[:notice] %>
		<p style= "color: green;>
 			<%= flash[:notice] %>
		</p>
	<% end %>

	<div class="row">

		<div class="top-message col-md-offset-3 col-md-6">
			<h1>welcome to <i class="glyphicon glyphicon-book"></i><strong>Bookers</strong>　!!</h1>
			<h5>In <i class="glyphicon glyphicon-book"></i><strong>Bookers</strong>,</h5>
			<h5>you can share and exchange your opinions , inpressions , and emotions</h5>
			<h5>about varioius books!</h5>

			<div class="row">
			<%= link_to "Log in", new_user_session_path, class: "btn btn-info col-xs-10 col-xs-offset-1", style: "color:grey" %>
			</div>
			<div class="row">
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success col-xs-10 col-xs-offset-1", style: "color:grey" %>
			</div>
		</div>

	</div>
</div>