<div class="container">
	<div class="row">
		<div class="col-sm-3">

          <%= render 'users/list', book: @book %>
        </div>

		<div class="col-sm-9">
			<h2>Users</h2>
			<table class="table">
				<thead>
					<tr>
						<th class="col-xs-4">
						  image
						</th>
					    <th class="col-xs-4">
						  name
						</th>
						<th class="col-xs-2">
						</th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |user| %>
					<tr>
						<td>
							<%= attachment_image_tag user, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", style: "width: 40px; height: 40px;" %>
						</td>
						<td>
							<%= user.name %>
						</td>
						<td>
							<%= link_to "Show", user_path(user),class: "user_#{user.id}",style: "color: #666" %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
			</div>
	</div>
</div>
